.index.admin_services {
  #title_bar {
    #titlebar_left {
      display: block;
    }
    #titlebar_right {
      display: block;
      height: 36px;
      margin-top: 10px;
      text-align: left;
    }
  }
}
